/* section1 start m.tvaradze */
.section1{
    background-image: url(/assets/img/background.png);
    max-width: 1272px;
    background-size: 100% 100%;
    height: 559px;
    margin: 0 auto ;
    margin-bottom: 73px;
    background-repeat: no-repeat;
    border-radius: 30px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
.secttitle{
    padding-left: 57px;
}
.ptitle{
    font-family: Poppins,sans-serif;
    font-size: 12px;
    font-weight: 700;
    line-height: 18px;
    letter-spacing: 0.23em;
    text-align: left;
    color: #ffffff;
}
.secttitle p{
    width: 494px;
    height: 72px;
    font-family: Poppins,sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: left;
    color: #ffffff;
}
.h1text{
    font-family: Poppins;
    font-size: 46px;
    font-weight: 400;
    line-height: 69px;
    letter-spacing: 0em;
    text-align: left;
    color: #ffffff;
    padding-top: 22px;
    padding-bottom: 19px;

}
.gradient-text{
    font-family: Poppins, sans-serif;
    font-size: 46px;
    font-weight: 700;
    line-height: 69px;
    letter-spacing: 0em;
    text-align: left;
}
.gradient-text{
    background-image: linear-gradient(90deg, #4CE0D7 43.06%, #8BA9F4 100%);
    background-size: 100%;
    background-repeat: repeat;
    background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
}

/* section1 end m.tvaradze */